h1{
    text-align: center;
}
body{
    margin-top: 60px;
}
p {
    margin-top: 50px;
    padding: 10px;
}

.box {
    overflow: auto;
    height: 300px;
    border: 1px solid black;
    background-color: #a9acbb;
    margin-top: 70px;
}

.box>div {
    float: right;
    width: 233px;
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    font-family: Times;
    font-size: 24px;
    font-weight: bold;
}
#heading1{
    background-color: rgb(243, 199, 243);
}
#heading2{
    background-color: rgb(172, 18, 18);
}
#heading3{
    background-color: rgb(12, 163, 88);
}